@charset "UTF-8";
body {

	background-color: #C9DFF2;
	text-align: left;
	color: #3c3d8c;
}
                p {
			font-family: "Trebuchet MS", Helvetica, sans-serif;	
			text-align: justify;
			color: 3D5A73;
		}

	
